@font-face {
  font-family: 'iconfont';  /* Project id 3298579 */
  src:
    url('//at.alicdn.com/t/font_3298579_6msfy4zw1tj.woff2?t=1650507864661') format('woff2'),
    url('//at.alicdn.com/t/font_3298579_6msfy4zw1tj.woff?t=1650507864661') format('woff'),
    url('//at.alicdn.com/t/font_3298579_6msfy4zw1tj.ttf?t=1650507864661') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}